html {
  height: 100%;
  width: 100%;
  color: #333333;
  background-color: #db924d;
}

.wrapper {
}

.rcHeader {
  background-color: #ab4e3299;
  left-margin: 200px;
}

.logo {
  float: left;
  width: 200px;
  height: 200px;
}

.side-body {
  float: left;
  font-size: 10px;
}

.side-body a {
  color: #666666;
}

.body {
  left-margin: 250px;
  background-color: #ffa552;
}
